<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="/assets/images/favicon.png" rel="icon" type="image/png">

    <!-- Basic Page Needs
        ================================================== -->
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Instello - Sharing Photos platform HTML Template">

    <!-- icons
        ================================================== -->
    <link rel="stylesheet" href="/assets/css/icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS
        ================================================== -->
    <link rel="stylesheet" href="/assets/css/uikit.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <link rel="stylesheet" href="/assets/css/chat.css">

    @*Quynh lam*@
    <style>
        @@media (min-width: 1024px) {
            header .header_inner {
                max-width: 980px;
            }

            .pro-container {
                max-width: 860px;
            }
        }

        .liked {
            color: #c23564;
            
        }
    </style>
</head>

<body>


    <div id="wrapper">

        @await Html.PartialAsync("_PartialSidebar")

        <div class="main_content">

            <header>
                @await Html.PartialAsync("_PartialHeader")
            </header>

            @RenderBody()
        </div>

    </div>


    <!-- Chi tiết 1 bài đăng (like, comment here) -->
    <!-- Story modal -->
    


    <!-- Upload modal -->
    <div id="upload-modal" class="uk-modal-container" uk-modal>
        <button class="uk-modal-close-default btn-close-upload type="button" uk-close></button>

        <div class="uk-modal-dialog story-modal">
            <div class=" header-upload">
                <div class="header-modal-share">
                </div>

                <div class="header-modal-title">
                    <h1 class="header-modal-title-text">Create new post</h1>
                </div>

                <div class="header-modal-share">
                    <button class="header-modal-btn">Share</button>
                </div>
            </div>
            <div class="story-modal-media upload-modal-media">
                <div class="upload-wrapper">
                    <img src="" class="upload-image inset-0 h-full w-full" alt="">
                    <div class="upload-content">
                        <div class="upload-icon">
                            <div class="fas fa-cloud-upload-alt"></div>
                        </div>
                        <div class="upload-text">No file chosen, yet!</div>
                    </div>
                    <div id="upload-cancel-btn"><i class="fas fa-times"></i></div>
                    <div class="upload-file-name">File name here</div>
                </div>
                <input id="upload-default-btn" type="file" multiple hidden />
                <button id="upload-custom-btn" onclick="defaultBtnActive()">Choose a file</button>
            </div>

            <div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-100 upload-note-item">
                <div class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
                    <div class="flex flex-1 items-center space-x-4">
                        <a href="#">
                            <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                                <img src="/assets/images/avatars/avatar-2.jpg"
                                     class="bg-gray-200 border border-white rounded-full w-8 h-8">
                            </div>
                        </a>
                        <span class="block text-lg font-semibold"> Johnson smith </span>
                    </div>
                    <a href="#">
                        <i class="icon-feather-more-horizontal text-2xl rounded-full p-2 transition -mr-1"></i>
                    </a>
                </div>

                <div class="story-content p-4" data-simplebar>
                    <form action="">
                        <textarea name="" id="" cols="12" rows="20" placeholder="Write your comments..." class="txt-comments"></textarea>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <script>
        const wrapper = document.querySelector('.upload-wrapper')
        const fileName = document.querySelector('.upload-file-name')
        const defaultBtn = document.querySelector('#upload-default-btn')
        const cancelBtn = document.querySelector('#upload-cancel-btn')
        const customBtn = document.querySelector('#upload-custom-btn')
        const img = document.querySelector('.upload-image')
        function defaultBtnActive() {
            defaultBtn.click()
        }

        defaultBtn.addEventListener('change', function () {
            const file = this.files[0]
            if (file) {
                const reader = new FileReader();
                reader.onload = function () {
                    const result = reader.result
                    img.src = result
                    wrapper.classList.add("active")
                }
                cancelBtn.addEventListener("click", function () {
                    img.src = ""
                })
                reader.readAsDataURL(file)
            }
            if (this.value) {
                let valueStore = this.value;
                fileName.textContent = valueStore;
            }
        })
    </script>

    <script>
            //Dark mode
            (function (window, document, undefined) {
                'use strict';
                if (!('localStorage' in window)) return;
                var nightMode = localStorage.getItem('gmtNightMode');
                if (nightMode) {
                    document.documentElement.className += ' dark';
                }
            })(window, document);


        (function (window, document, undefined) {

            'use strict';

            // Feature test
            if (!('localStorage' in window)) return;

            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;

            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('dark');
                if (document.documentElement.classList.contains('dark')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);

        })(window, document);
    </script>

    <!-- Upload modal -->
    <!-- Scripts
       ================================================== -->
    <script src="/assets/js/tippy.all.min.js"></script>
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/uikit.js"></script>
    <script src="/assets/js/simplebar.js"></script>
    <script src="/assets/js/custom.js"></script>

    @*Quynh them*@
    <!-- Jquery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/bda3bb47f4.js" crossorigin="anonymous"></script>


    <script>
        // Slide show (fix)
        var indexValue = 0;
        showImg(indexValue);
        function btm_slide(e) { showImg(indexValue = e); }
        function side_slide(e) { showImg(indexValue += e); }
        function showImg(e) {
            var i;
            const img = document.querySelectorAll('#story-modal-3 .story-img');
            const sliders = document.querySelectorAll('#story-modal-3 .btn-sliders span')
            if (e == img.length) {
                indexValue = 0;
            }
            if (e < 0) {
                indexValue = img.length -1;
            }
            for (i = 0; i < img.length; i++) {
                img[i].style.display = "none";
            }

            for (i = 0; i < sliders.length; i++) {
                sliders[i].style.background = "rgba(225, 225, 225, 0.2)";
            }

            img[indexValue].style.display = "block";
            sliders[indexValue].style.background = "#fff";
        }

        // Fix sidebar
        function toggle() {
            var sidebar = document.querySelector('.sidebar');
            if (sidebar.style.display === "block") {
                sidebar.style.display = "none";
            }
        }

        // Xử lí thêm class active vào thẻ li phần sidebar
        $(document).ready(function () {
            var pageTitle = $('title').text();
            switch (true) {
                case pageTitle.includes("Home Page"):
                    $(".sidebar ul li:eq(0)").addClass("active");
                    break;
                case pageTitle.includes("Search"):
                    $(".sidebar ul li:eq(1)").addClass("active");
                    break;
                case pageTitle.includes("Messages Page"):
                    $(".sidebar ul li:eq(2)").addClass("active");
                    break;
                case pageTitle.includes("Setting Page"):
                    $(".sidebar ul li:eq(3)").addClass("active");
                    break;
                case pageTitle.includes("Profile Page"):
                    $(".sidebar ul li:eq(4)").addClass("active");
                    break;
            }
        });

    </script>

    @RenderSection("scripts", required: false)
</body>


</html>

<style>
    .nav-link {
        color: black;
    }

    /* @@media (max-width: 470px) {
              .border-md-top {
                border-top: 1px solid #dee2e6;
                border-left: none;
              }
            } */
</style>