<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="/assets/images/favicon.png" rel="icon" type="image/png">

    <!-- Basic Page Needs
        ================================================== -->
    <title>Instello Sharing Photos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Instello - Sharing Photos platform HTML Template">

    <!-- icons
        ================================================== -->
    <link rel="stylesheet" href="/assets/css/icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS
        ================================================== -->
    <link rel="stylesheet" href="/assets/css/uikit.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <link rel="stylesheet" href="/assets/css/chat.css">
    
    @*Quynh lam*@
    <style>
        @@media (min-width: 1024px) {
            header .header_inner {
                max-width: 980px;
            }

            .pro-container {
                max-width: 860px;
            }
        }
    </style>
</head>

<body>


    <div id="wrapper">

        @await Html.PartialAsync("_PartialSidebar")

        <div class="main_content">

            <header>
                @await Html.PartialAsync("_PartialHeader")
            </header>

            @RenderBody()
        </div>

    </div>


    <!-- Chi tiết 1 bài đăng (like, comment here) -->
    <!-- Story modal -->
    <div id="story-modal" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog story-modal">
            <button class="uk-modal-close-default lg:-mt-9 lg:-mr-9 -mt-5 -mr-5 shadow-lg bg-white rounded-full p-4 transition dark:bg-gray-600 dark:text-white" type="button" uk-close></button>

            <div class="story-modal-media">
                <img src="/assets/images/post/img4.jpg" alt="" class="post-image inset-0 h-full w-full">
            </div>
            <div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-100">

                <!-- post header-->
                <div class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
                    <div class="flex flex-1 items-center space-x-4">
                        <a href="#">
                            <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                                <img src="/assets/images/avatars/avatar-2.jpg"
                                     class="bg-gray-200 border border-white rounded-full w-8 h-8">
                            </div>
                        </a>
                        <span class="block text-lg font-semibold"> Johnson smith </span>
                    </div>
                    <a href="#">
                        <i class="icon-feather-more-horizontal text-2xl rounded-full p-2 transition -mr-1"></i>
                    </a>
                </div>
                <div class="story-content p-4" data-simplebar>

                    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>

                    <div class="py-4 ">
                        <div class="flex justify-around">
                            <a href="#" class="flex items-center space-x-3">
                                <div class="flex font-bold items-baseline"> <i style="font-size: 16px; margin-right: 5px;" class="fa-solid fa-thumbs-up"></i> </i> Like</div>
                            </a>
                            <a href="#" class="flex items-center space-x-3">
                                <div class="flex font-bold items-baseline"> <i style="font-size: 16px; margin-right: 5px;" class="fa-solid fa-comment"></i> Comment</div>
                            </a>
                            <a href="#" class="flex items-center space-x-3">
                                <div class="flex font-bold items-baseline"> <i style="font-size: 16px; margin-right: 5px;" class="fa-solid fa-share-nodes"></i> Share</div>
                            </a>
                        </div>
                        <hr class="-mx-4 my-3">
                        <div class="flex items-center space-x-3">
                            <div class="flex items-center">
                                <img src="/assets/images/avatars/avatar-1.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white">
                                <img src="/assets/images/avatars/avatar-4.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white -ml-2">
                                <img src="/assets/images/avatars/avatar-2.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white -ml-2">
                            </div>
                            <div>
                                Liked <strong> Johnson</strong> and <strong> 209 Others </strong>
                            </div>
                        </div>
                    </div>

                    <div class="-mt-1 space-y-1">
                        <div class="flex flex-1 items-center space-x-2">
                            <img src="/assets/images/avatars/avatar-2.jpg" class="rounded-full w-8 h-8">
                            <div class="flex-1 p-2">
                                consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            </div>
                        </div>

                        <div class="flex flex-1 items-center space-x-2">
                            <img src="/assets/images/avatars/avatar-4.jpg" class="rounded-full w-8 h-8">
                            <div class="flex-1 p-2">
                                consectetuer adipiscing elit
                            </div>
                        </div>

                    </div>


                </div>
                <div class="p-3 border-t dark:border-gray-600">
                    <div class="comment-item flex">
                        <div class="input-item bg-gray-100 bg-gray-100 rounded-full rounded-md relative dark:bg-gray-800">
                            <input type="text" placeholder="Add your Comment.." class="bg-transparent max-h-10 shadow-none">
                            <div class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2">
                                <a href="#"> <i class="uil-image"></i></a>
                                <a href="#"> <i class="uil-video"></i></a>
                                <i class="emoji-icon fa-solid fa-face-laugh"></i>
                            </div>
                        </div>
                        <div class="icon-item icon-modal">
                            <i class="send-icon fa-solid fa-paper-plane"></i>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div id="story-modal__multi-imgs" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog story-modal">
            <button class="uk-modal-close-default lg:-mt-9 lg:-mr-9 -mt-5 -mr-5 shadow-lg bg-white rounded-full p-4 transition dark:bg-gray-600 dark:text-white" type="button" uk-close></button>

            <div class="story-modal-slider">
                <div class="content">
                    <div class="images">
                        <img src="/assets/images/post/img9.jpg" alt="" class="story-img">
                        <img src="/assets/images/post/img10.jpg" alt="" class="story-img">
                        <img src="/assets/images/post/img11.jpg" alt="" class="story-img">
                    </div>
                    <div onclick="side_slide(-1)" class="slide left">
                        <span class="fas fa-angle-left"></span>
                    </div>
                    <div onclick="side_slide(1)" class="slide right">
                        <span class="fas fa-angle-right"></span>
                    </div>
                    <div class="btn-sliders">
                        <span onclick="btm_slide(1)"></span>
                        <span onclick="btm_slide(2)"></span>
                        <span onclick="btm_slide(3)"></span>
                    </div>
                </div>
            </div>
            <div class="flex-2 bg-white dark:bg-gray-900 dark:text-gray-100">

                <!-- post header-->
                <div class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
                    <div class="flex flex-1 items-center space-x-4">
                        <a href="#">
                            <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                                <img src="/assets/images/avatars/avatar-2.jpg"
                                     class="bg-gray-200 border border-white rounded-full w-8 h-8">
                            </div>
                        </a>
                        <span class="block text-lg font-semibold"> Johnson smith </span>
                    </div>
                    <a href="#">
                        <i class="icon-feather-more-horizontal text-2xl rounded-full p-2 transition -mr-1"></i>
                    </a>
                </div>
                <div class="story-content p-4" data-simplebar>

                    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>

                    <div class="py-4 ">
                        <div class="flex justify-around">
                            <a href="#" class="flex items-center space-x-3">
                                <div class="flex font-bold items-baseline"> <i style="font-size: 16px; margin-right: 5px;" class="fa-solid fa-thumbs-up"></i> </i> Like</div>
                            </a>
                            <a href="#" class="flex items-center space-x-3">
                                <div class="flex font-bold items-baseline"> <i style="font-size: 16px; margin-right: 5px;" class="fa-solid fa-comment"></i> Comment</div>
                            </a>
                            <a href="#" class="flex items-center space-x-3">
                                <div class="flex font-bold items-baseline"> <i style="font-size: 16px; margin-right: 5px;" class="fa-solid fa-share-nodes"></i> Share</div>
                            </a>
                        </div>
                        <hr class="-mx-4 my-3">
                        <div class="flex items-center space-x-3">
                            <div class="flex items-center">
                                <img src="/assets/images/avatars/avatar-1.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white">
                                <img src="/assets/images/avatars/avatar-4.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white -ml-2">
                                <img src="/assets/images/avatars/avatar-2.jpg" alt="" class="w-6 h-6 rounded-full border-2 border-white -ml-2">
                            </div>
                            <div>
                                Liked <strong> Johnson</strong> and <strong> 209 Others </strong>
                            </div>
                        </div>
                    </div>

                    <div class="-mt-1 space-y-1">
                        <div class="flex flex-1 items-center space-x-2">
                            <img src="/assets/images/avatars/avatar-2.jpg" class="rounded-full w-8 h-8">
                            <div class="flex-1 p-2">
                                consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            </div>
                        </div>

                        <div class="flex flex-1 items-center space-x-2">
                            <img src="/assets/images/avatars/avatar-4.jpg" class="rounded-full w-8 h-8">
                            <div class="flex-1 p-2">
                                consectetuer adipiscing elit
                            </div>
                        </div>

                    </div>


                </div>
                <div class="p-3 border-t dark:border-gray-600">
                    <div class="comment-item flex">
                        <div class="input-item bg-gray-100 bg-gray-100 rounded-full rounded-md relative dark:bg-gray-800">
                            <input type="text" placeholder="Add your Comment.." class="bg-transparent max-h-10 shadow-none">
                            <div class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2">
                                <a href="#"> <i class="uil-image"></i></a>
                                <a href="#"> <i class="uil-video"></i></a>
                                <i class="emoji-icon fa-solid fa-face-laugh"></i>
                            </div>
                        </div>
                        <div class="icon-item icon-modal">
                            <i class="send-icon fa-solid fa-paper-plane"></i>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Upload modal -->
    <div id="upload-modal" class="uk-modal-container" uk-modal>
        <button class="uk-modal-close-default btn-close-upload type="button" uk-close></button>

        <div class="uk-modal-dialog story-modal">
            <div class=" header-upload">
                <div class="header-modal-share">
                </div>

                <div class="header-modal-title">
                    <h1 class="header-modal-title-text">Create new post</h1>
                </div>

                <div class="header-modal-share">
                    <button class="header-modal-btn">Share</button>
                </div>
            </div>
            <div class="story-modal-media upload-modal-media">
                <div class="upload-wrapper">
                    <img src="" class="upload-image inset-0 h-full w-full" alt="">
                    <div class="upload-content">
                        <div class="upload-icon">
                            <div class="fas fa-cloud-upload-alt"></div>
                        </div>
                        <div class="upload-text">No file chosen, yet!</div>
                    </div>
                    <div id="upload-cancel-btn"><i class="fas fa-times"></i></div>
                    <div class="upload-file-name">File name here</div>
                </div>
                <input id="upload-default-btn" type="file" hidden />
                <button id="upload-custom-btn" onclick="defaultBtnActive()">Choose a file</button>
            </div>

            <div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-100 upload-note-item">
                <div class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
                    <div class="flex flex-1 items-center space-x-4">
                        <a href="#">
                            <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                                <img src="/assets/images/avatars/avatar-2.jpg"
                                     class="bg-gray-200 border border-white rounded-full w-8 h-8">
                            </div>
                        </a>
                        <span class="block text-lg font-semibold"> Johnson smith </span>
                    </div>
                    <a href="#">
                        <i class="icon-feather-more-horizontal text-2xl rounded-full p-2 transition -mr-1"></i>
                    </a>
                </div>

                <div class="story-content p-4" data-simplebar>
                    <form action="">
                        <textarea name="" id="" cols="12" rows="20" placeholder="Write your comments..." class="txt-comments"></textarea>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <script>
        const wrapper = document.querySelector('.upload-wrapper')
        const fileName = document.querySelector('.upload-file-name')
        const defaultBtn = document.querySelector('#upload-default-btn')
        const cancelBtn = document.querySelector('#upload-cancel-btn')
        const customBtn = document.querySelector('#upload-custom-btn')
        const img = document.querySelector('.upload-image')
        function defaultBtnActive() {
            defaultBtn.click()
        }

        defaultBtn.addEventListener('change', function () {
            const file = this.files[0]
            if (file) {
                const reader = new FileReader();
                reader.onload = function () {
                    const result = reader.result
                    img.src = result
                    wrapper.classList.add("active")
                }
                cancelBtn.addEventListener("click", function () {
                    img.src = ""
                })
                reader.readAsDataURL(file)
            }
            if (this.value) {
                let valueStore = this.value;
                fileName.textContent = valueStore;
            }
        })
    </script>

    <script>
        //Dark mode
        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' dark';
            }
        })(window, document);


        (function (window, document, undefined) {

            'use strict';

            // Feature test
            if (!('localStorage' in window)) return;

            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;

            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('dark');
                if (document.documentElement.classList.contains('dark')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);

        })(window, document);
    </script>

    <!-- Upload modal -->
    <!-- Scripts
       ================================================== -->
    <script src="/assets/js/tippy.all.min.js"></script>
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/uikit.js"></script>
    <script src="/assets/js/simplebar.js"></script>
    <script src="/assets/js/custom.js"></script>

    @*Quynh them*@
    <!-- Jquery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/bda3bb47f4.js" crossorigin="anonymous"></script>
    

    <script>
        // Slide show (fix)
        var indexValue = 1;
        showImg(indexValue);
        function btm_slide(e) { showImg(indexValue = e); }
        function side_slide(e) { showImg(indexValue += e); }
        function showImg(e) {
            var i;
            const img = document.querySelectorAll('.story-img');
            const sliders = document.querySelectorAll('.btn-sliders span')
            if (e > img.length) {
                indexValue = indexValue = 1;
            }
            if (e < 1) {
                indexValue = img.length;
            }
            for (i = 0; i < img.length; i++) {
                img[i].style.display = "none";
            }

            for (i = 0; i < sliders.length; i++) {
                sliders[i].style.background = "rgba(225, 225, 225, 0.2)";
            }

            img[indexValue - 1].style.display = "block";
            sliders[indexValue - 1].style.background = "#fff";
        }

        // Fix sidebar
        function toggle() {
            var sidebar = document.querySelector('.sidebar');
            if (sidebar.style.display === "block") {
                sidebar.style.display = "none";
            }
        }
    </script>
</body>


</html>

<style>
.nav-link{
    color: black;
}

/* @@media (max-width: 470px) {
  .border-md-top {
    border-top: 1px solid #dee2e6;
    border-left: none;
  }
} */
</style>